<div class="row">
  <div class="col-md-6">
    {{#bs-button
      class="btn-primary"
      block=true
      onClick=(action "onEdit" row)
    }}
      Edit
    {{/bs-button}}
  </div>
  <div class="col-md-6">
    {{#bs-button
      class="btn-primary"
      block=true
      onClick=(action "onDelete" row)
    }}
      Delete
    {{/bs-button}}
  </div>
</div>
