<div class="row">
  <div class="col-md-6">
    {{#if this.showEdit}}
      {{#bs-button
        class="btn-primary"
        block=true
        onClick=(action "onEdit" row)
      }}
        Edit
      {{/bs-button}}
    {{/if}}
  </div>
  <div class="col-md-6">
    {{#if this.showDelete}}
      {{#bs-button
        class="btn-primary"
        block=true
        onClick=(action "onDelete" row)
      }}
        Delete
      {{/bs-button}}
    {{/if}}
  </div>
</div>
