.ember-power-select-typeahead-input {
  border: 0;
  height: 38px;
}

.ember-power-select-trigger {
  padding: 0;
  border-color: rgb(206, 212, 218);
  border-radius: 6.4px;
}

.container {
  margin-top: 10px;
}

body {
  background-color: #f5f7f8;
}

.card {
  box-shadow: 0 1px 3px 0 rgba(31,36,38,.1);
  border: 0;
  border-radius: 0;
}

.btn {
  box-shadow: 0 1px 3px 0 rgba(31,36,38,.1);
  border-radius: 0;
}

form {
  padding-top: 10px;
}

.auth-box {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.card .btn {
  margin-bottom: 10px;
}

.badge-delete {
  color: #888;
}

.badge-delete:hover{
  color: #888;
}

.badge {
  padding: 5px;
}

ul.pagination {
  display: inline-flex !important;

}
