{{#page-container}}
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-2">
          {{#power-select
            options=ranges
            selected=filterDays
            triggerClass="range-select"
            onchange=(action (mut filterDays))
          as |range|
          }}
            {{range}}
          {{/power-select}}
        </div>
      </div>
      {{basic-table table}}
    </div>
  </div>
{{/page-container}}
