<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-2">
              {{#power-select
                options=ranges
                selected=range
                triggerClass="range-select"
                onchange=(action (mut range))
              as |range|
              }}
                {{range}}
              {{/power-select}}
            </div>
          </div>

          {{#light-table table class="table table-striped" as |t|}}
            {{t.head}}
            {{#t.body as |body|}}
              {{#body.expanded-row as |row|}}
                {{row}}
              {{/body.expanded-row}}
            {{/t.body}}
          {{/light-table}}
        </div>
      </div>
    </div>
  </div>
</div>
