<nav>
  {{#if session.isAuthenticated}}
    <button
      class="logout"
      {{action "invalidateSession"}}
    >
      Logout
    </button>
  {{else}}
    {{#link-to "login"}}Login{{/link-to}}
    {{#link-to "signup"}}Sign Up{{/link-to}}
  {{/if}}
  {{#link-to "home"}}
    Home
  {{/link-to}}
</nav>
{{outlet}}
