{{#page-container}}
  {{#auth-box}}
    {{#bs-form onSubmit=(action "submit") as |form|}}
      {{#form.group}}
        {{form.element
          id="email"
          controlType="email"
          label="Email"
          value=email
          onChange=(action "setEmail")
        }}
      {{/form.group}}
      {{#form.group}}
        {{form.element
          id="password"
          controlType="password"
          label="Password"
          value=password
          onChange=(action "setPassword")
        }}
      {{/form.group}}
      <button class="btn btn-primary btn-block submit" type="submit">Sign Up</button>
    {{/bs-form}}

    {{#if errorMessage}}
      {{errorMessage}}
    {{/if}}
  {{/auth-box}}
{{/page-container}}
